node-red/data/.flows.json.backup
[{"id":"34863747.d607f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e87904a4.2046b8","type":"mqtt-broker","z":"","name":"","broker":"10.42.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"422eeb02.d0dda4","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"iot","name":"InfluxDB","usetls":false,"tls":""},{"id":"d5462509.e5e338","type":"mqtt in","z":"34863747.d607f8","name":"MPU data","topic":"mpu/data","qos":"2","broker":"e87904a4.2046b8","x":160,"y":60,"wires":[["e2add2e1.25b01"]]},{"id":"e2add2e1.25b01","type":"json","z":"34863747.d607f8","name":"Convert to JSON Object","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["546cbc39.dca304"]]},{"id":"546cbc39.dca304","type":"influxdb out","z":"34863747.d607f8","influxdb":"422eeb02.d0dda4","name":"Insert Data to Database","measurement":"mpu","precision":"","retentionPolicy":"","x":450,"y":260,"wires":[]},{"id":"d032fb09.7d7e98","type":"inject","z":"34863747.d607f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["8d97c0b7.93f91"]]},{"id":"8d97c0b7.93f91","type":"function","z":"34863747.d607f8","name":"select top 100 data","func":"msg.query = \"select * from abc ORDER BY time DESC limit 2\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["a1bcd27.e93933"]]},{"id":"a1bcd27.e93933","type":"influxdb in","z":"34863747.d607f8","influxdb":"422eeb02.d0dda4","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":420,"y":380,"wires":[["457bfee2.b94e","5f42868.f0edd78"]]},{"id":"457bfee2.b94e","type":"debug","z":"34863747.d607f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":480,"wires":[]},{"id":"42f2684d.d34548","type":"http in","z":"34863747.d607f8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["8d97c0b7.93f91"]]},{"id":"5f42868.f0edd78","type":"http response","z":"34863747.d607f8","name":"","statusCode":"","headers":{},"x":590,"y":360,"wires":[]},{"id":"3c92d731.f77e38","type":"influxdb out","z":"34863747.d607f8","influxdb":"422eeb02.d0dda4","name":"","measurement":"abc","precision":"","retentionPolicy":"","x":410,"y":620,"wires":[]},{"id":"f5036413.a4f3b8","type":"function","z":"34863747.d607f8","name":"","func":"msg.payload = 2\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":620,"wires":[["3c92d731.f77e38"]]},{"id":"b5bab3aa.39079","type":"inject","z":"34863747.d607f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":640,"wires":[["f5036413.a4f3b8"]]}]